<!-- start: PAGE TITLE -->
<div class="alert {{alertset.class}} lighten-4 {{alertset.class}}-text text-darken-2 {{alertset.show}}">
    <span ng-repeat="(key, value) in alertset.msg">{{value}}</span>
</div>
<div class="panel-default" ng-controller="UsersPasswordCtrl">
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
        {{alert.msg}}
    </uib-alert>
    <!--<section id="page-title">-->
    <!--<div class="row">-->
    <!--<div class="col-sm-8">-->
    <!--<h1><font face="Lucida Handwriting">FORM USERS PASSWORD</font></h1>-->
    <!--</div>-->
    <!--</div>-->
    <!--</section>-->

    <!-- end: PAGE TITLE -->
    <!-- start: FORM VALIDATION -->
    <div class="panel-heading bg-white" style="background: #b3c4c7;">
        <span class="font-bold"><left><font color="black"><b>GANTI PASSWORD PENGGUNA</b></font></left></span>
    </div>
    <div class="panel-body bg-tr-white" style="background: white;">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <form name="Form">
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <div class="form-group"
                                         ng-class="{'has-error':Form.old_password.$dirty && Form.old_password.$invalid, 'has-success':Form.old_password.$valid}">
                                        <label class="control-label">
                                            Password Lama <span class="symbol required"></span>
                                        </label>
                                        <input type="password" placeholder="Password Lama" class="form-control"
                                               name="old_password" ng-model="myModel.old_password"
                                               required/>
                                        <span class="error text-small block"
                                              ng-if="Form.old_password.$dirty && Form.old_password.$error.required">old password is required.</span>
                                        <span class="success text-small block"
                                              ng-if="Form.old_password.$valid">Ok!</span>
                                    </div>

                                    <div class="form-group"
                                         ng-class="{'has-error':Form.new_password.$dirty && Form.new_password.$invalid, 'has-success':Form.new_password.$valid}">
                                        <label class="control-label">
                                            Password Baru<span class="symbol required"></span>
                                        </label>
                                        <input type="password" placeholder="Password Baru" class="form-control"
                                               name="new_password" ng-model="myModel.new_password"
                                               required/>
                                        <span class="error text-small block"
                                              ng-if="Form.new_password.$dirty && Form.new_password.$error.required">new password is required.</span>
                                        <span class="success text-small block"
                                              ng-if="Form.new_password.$valid">Ok!</span>
                                    </div>
                                    <div class="form-group"
                                         ng-class="{'has-error':Form.new_password_confirmation.$dirty && Form.new_password_confirmation.$error.compareTo || Form.new_password_confirmation.$dirty && Form.new_password_confirmation.$invalid, 'has-success':Form.new_password_confirmation.$valid}">
                                        <label class="control-label">
                                            Konfirmasi Password <span class="symbol required"></span>
                                        </label>
                                        <input type="password" placeholder="Konfirmasi Password" class="form-control"
                                               name="new_password_confirmation"
                                               ng-model="myModel.new_password_confirmation"
                                               compare-to="myModel.new_password" required/>
                                        <span class="error text-small block"
                                              ng-if="Form.new_password_confirmation.$dirty && Form.new_password_confirmation.$error.required">Repeat password is required!</span>
                                        <span class="error text-small block"
                                              ng-if="Form.new_password_confirmation.$dirty && Form.new_password_confirmation.$error.compareTo">Passwords do not match!</span>
                                        <span class="success text-small block"
                                              ng-if="Form.new_password_confirmation.$valid">Passwords match!</span>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <!--<button md-ink-ripple class="btn btn-primary" ng-click="submitData(false)" ng-disabled="Form.$invalid || process">Simpan
                                </button>-->
                                    <button md-ink-ripple class="btn btn-primary" ng-click="submitData(true)"
                                            ng-disabled="Form.$invalid || process">Simpan & Kembali
                                    </button>
                                    <button type="reset" class="btn btn-primary btn-o" ng-disabled="process"
                                            ng-click="form.reset(Form)">
                                        Reset
                                    </button>
                                    <button md-ink-ripple class="btn btn-primary btn-o" ui-sref="app.users"
                                            ng-disabled="process">Kembali
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
